In [ ]:
!wget -N https://cdn.freecodecamp.org/project-data/health-costs/insurance.csv

--2023-05-17 13:23:20--  https://cdn.freecodecamp.org/project-data/health-costs/insurance.csv
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 172.67.70.149, 104.26.3.33, 104.26.2.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|172.67.70.149|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 50264 (49K) [text/csv]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  49.09K  --.-KB/s    in 0.001s

2023-05-17 13:23:20 (37.4 MB/s) - ‘insurance.csv’ saved [50264/50264]

In [ ]:
!pip install -q git+https://github.com/tensorflow/docs

  Preparing metadata (setup.py) ... done
  Building wheel for tensorflow-docs (setup.py) ... done

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

In [ ]:
dataset = pd.read_csv('insurance.csv')
len(dataset)

1338

In [ ]:
dataset.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [ ]:
df = dataset
df["sex"] = pd.factorize(df["sex"])[0]
df["region"] = pd.factorize(df["region"])[0]
df["smoker"] = pd.factorize(df["smoker"])[0]
dataset = df
dataset.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       0       0  16884.92
1   18    1  33.8         1       1       1   1725.55
2   28    1  33.0         3       1       1   4449.46
3   33    1  22.7         0       1       2  21984.47
4   32    1  28.9         0       1       2   3866.86

In [ ]:
test_dataset = dataset.sample(frac=0.2)
len(test_dataset)

268

In [ ]:
train_dataset = dataset[~dataset.isin(test_dataset)].dropna()
len(train_dataset)

1070

In [ ]:
train_dataset.head()

    age  sex   bmi  children  smoker  region  expenses
0  19.0  0.0  27.9       0.0     0.0     0.0  16884.92
1  18.0  1.0  33.8       1.0     1.0     1.0   1725.55
2  28.0  1.0  33.0       3.0     1.0     1.0   4449.46
3  33.0  1.0  22.7       0.0     1.0     2.0  21984.47
4  32.0  1.0  28.9       0.0     1.0     2.0   3866.86

In [ ]:
train_labels = train_dataset.pop("expenses")
train_labels.head()

0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: expenses, dtype: float64

In [ ]:
train_dataset.head()

    age  sex   bmi  children  smoker  region
0  19.0  0.0  27.9       0.0     0.0     0.0
1  18.0  1.0  33.8       1.0     1.0     1.0
2  28.0  1.0  33.0       3.0     1.0     1.0
3  33.0  1.0  22.7       0.0     1.0     2.0
4  32.0  1.0  28.9       0.0     1.0     2.0

In [ ]:
test_labels = test_dataset.pop("expenses")
test_labels.head()

810      9414.92
996      7418.52
1253    15828.82
733      9447.25
638     20149.32
Name: expenses, dtype: float64

In [ ]:
test_dataset.head()

      age  sex   bmi  children  smoker  region
810    46    0  30.8         3       1       0
996    39    0  34.1         3       1       0
1253   40    0  29.3         4       1       0
733    48    0  27.3         1       1       3
638    39    1  26.4         0       0       3

In [ ]:
normalizer = layers.experimental.preprocessing.Normalization()
normalizer.adapt(np.array(train_dataset))

model = keras.Sequential([
    normalizer,
    layers.Dense(16),
    layers.Dense(4),
    layers.Dropout(.2),
    layers.Dense(1),
])

In [ ]:
model.compile(
    optimizer=tf.optimizers.Adam(learning_rate=0.1),
    loss='mae',
    metrics=['mae', 'mse']
)
model.build()
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization (Normalizatio  (None, 6)                13
 n)

 dense (Dense)               (None, 16)                112

 dense_1 (Dense)             (None, 4)                 68

 dropout (Dropout)           (None, 4)                 0

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 198
Trainable params: 185
Non-trainable params: 13
_________________________________________________________________

In [ ]:
history = model.fit(
    train_dataset,
    train_labels,
    epochs=100,
    validation_split=0.5,
    verbose=0, # disable logging
)

print(history)

<keras.callbacks.History object at 0x7f1e9c3dad40>